// Here you can add other styles
.navbar {
    background: #fff;
    box-shadow: 0 4px 6px rgba(22, 22, 26, 0.18);
  }
  .navbar .navbar-nav .nav-link {
    color: #000;
  }
  .btn-outline-dark {
    border-radius: 0;
  }
  .btn-outline-dark:focus {
    box-shadow: none;
  }
  @media screen and (max-width: 768px) {
    .btn-outline-dark {
      border: none;
      padding: 0;
      outline: none;
    }
  
    .btn-outline-dark:hover {
      background: none;
      color: gray;
    }
  }
  

  h1.title {
    padding:25px;
    font-size:30px;
    font-weight: 100;;
  }
  
  .margin-bottom-40 {
    margin-bottom:40px;
  }
  
  /* Button Sizes*/
  

  
  .btn-mod.btn-medium {
      height: auto;
      padding: 10px 35px;
      font-size: 13px;
  }

  
  /* Button Mod to the original Bootstrap Buttons */
  
  .btn-mod.btn-circle {
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
  }
  
  .btn-mod.btn-border {
      color: #0466c8;
      border: 2px solid #0466c8;
      background: transparent;
  }
  
  .btn-mod, a.btn-mod {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 4px 13px;
      color: #fff;
      background: #0466c8;
      border: 2px solid transparent;
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  }
  
  .btn-mod.btn-border:hover, .btn-mod.btn-border:focus{
      color: #fff;
      border-color: transparent;
      background: #0466c8;
  }
  
  .btn-mod:hover, .btn-mod:focus, a.btn-mod:hover, a.btn-mod:focus {
      font-weight: 400;
      color: rgba(255,255,255, .85);
      background: #0466c8;
      text-decoration: none;
      outline: none;
      border-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
  }
  
  /* Reveal icon on hover */
  
  a.btn.btn-mod.btn-border.animation-one span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
  }
  
  a.btn.btn-mod.btn-border.animation-one span:after {
    font-family: FontAwesome;
    content: "\f105";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
  }
  
  a.btn.btn-mod.btn-border.animation-one:hover span {
    padding-right: 25px;
  }
  
  a.btn.btn-mod.btn-border.animation-one:hover span:after {
    opacity: 1;
    right: 0;
  }
  
/** Nav active */

.nav-active{
  border-bottom: 2px #0466c8 solid;
}

