$text-color: #30373B;
$success-color: #7AB55C;
$error-color: #C23628;
$border-color: #A7A7A7;
$body-font-size: 13px;
$title-font-size: 32px;
$subtitle-font-size: 20px;
$form-font-size: 16px;
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.forgot-hr {
  background: #0466c8;
  height: 1px;
//   border: 0;
  border-top: 3px solid #0466c8;
  padding: 0;
  text-align: right;
  width: 5%;
  float: right;
}
.hr-div{
    display: flex;
    justify-content: center;
}
.forgot-span{
  color: red;
}
.forgot-label {
  padding-top: 15px;
  font-weight: bold;
}

.forgot-form {
  font-size: 16px;
  max-width: 515px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 0px;
}

.forgot-h1 {
  padding-top: 2em;
  font-size: 32px;
  margin: 0 0 30px 0;
  text-align: center;
}

.forgot-h3 {
  padding-top: 1em;
  font-size: 20px;
//   margin: 0 0 30px 0;
  text-align: center;
}

.forgot-input{
  //background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 66%;
  //background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

.forgot-button {
  padding: 12px 30px 13px 30px;
  color: #FFF;
  background-color: #0466c8;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border: 1px solid #0466c8;
  //border-width: 1px 1px 3px;
  margin-bottom: 10px;
  overflow: hidden;
}

.forgot-label {
  display: block;
  margin-bottom: 8px;
}

@media screen and (min-width: 480px) {
  .forgot-form {
    max-width: 380px;
  }
}

.otp-field {
    flex-direction: row;
    column-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .otp-field input {
    height: 45px;
    width: 42px;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    // border: 1px solid #ddd;
    border: 1px solid #0466c8;
  }
  .otp-field input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  .otp-field input::-webkit-inner-spin-button,
  .otp-field input::-webkit-outer-spin-button {
    display: none;
  }
  
  .resend {
    font-size: 12px;
  }

  .veify-otp{
background-color: #0466c8;
  }
  

  